.book {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.favorite {
  display: inline-block;
  background-color: #dfdfdf;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  margin: 6px;
  cursor: pointer;
}
.favorite.enabled {
  background-color: tomato;
}
